@font-face {
    font-family: "GP";
    src: url(../fonts/14076.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "GP";
    src: url(../fonts/14078.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "GP";
    src: url(../fonts/14080.ttf);
    font-weight: 300;
}
@font-face {
    font-family: "GP";
    src: url(../fonts/14082.ttf);
    font-weight: 500;
}
